.subscribe-section{
    display: flex;
    margin: auto;
    min-height: 50vh;
    background-image: url(../assets/subscribe.jpg);
    background-size: cover;
    // background-repeat: no-repeat;
    align-items: center;
    width: 95%;
    border-radius: 10px 10px;
    color: #fff;
    div{
        flex: 1;
        text-align: center;

        span{
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            
        }
    }
    
}

@media screen and (max-width: 600px) {
    .subscribe-section{
        width: 100%;
    }
}