button{
    background-color: #A80000;
    border: 1px solid #fff;
    color: #fff;
    padding: 2vh;
    margin-left: 7vh;
    margin-top: 4vh;
    width: fit-content;
    padding-left: 3vh;
    padding-right: 3vh !important;
    border-radius: 5px 5px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;

    &:hover{
        background-color: #890808;
    }
}