button{
    background-color: #A80000;
    border: 1px solid #fff;
    color: #fff;
    padding: 2vh;
    margin-left: 7vh;
    margin-top: 4vh;
    width: 20vh;
    border-radius: 5px 5px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}